@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
    --branco: #fff;
    --preto: #414141;
    --azul-claro: #3B91F9;
    --azul-escuro: #222940;
    --cinza-claro: #EFEFEF;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2%;
    height: 10vh;
    transition: all .50s ease;
    text-decoration: none;
}


#header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#header #logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 30px 0 0;
}

#header #logo img {
    width: 4rem;
}

#header #logo h1 {
    font-size: 2rem;
    font: 800;
}

#header ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#header ul li a {
    color: var(--preto);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 600;
    transition: all .50s ease;
    margin: 0 10px;
}

#header ul li a:hover {
    color: var(--azul-claro);
}

#header #btns {
    display: flex;
    align-items: center;
    gap: 1rem;
}

#header #btns button {
    width: 7.5rem;
    height: 2rem;
    font-size: 0.75rem;
    font-weight: 700;
    transition: all .50s ease;
    cursor: pointer;
}

.entrar {
    color: var(--azul-claro);
    background-color: var(--branco);
    border: 2px solid var(--azul-claro);
    border-radius: 6px;
}

.cadastrar {
    color: var(--branco);
    background-color: var(--azul-claro);
    border-radius: 6px;
    border: 2px solid var(--azul-claro);
}

#header .material-symbols-outlined {
    color: var(--azul-claro);
    font-size: 30px;
    font-weight: 700;
    cursor: pointer;
    display: none;
}

.dropdown_menu {
    display: none;
    position: absolute;
    right: 2%;
    top: 10vh;
    width: 250px;
    height: 0;
    list-style: none;
    background-color: var(--azul-claro);
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 0px 10px var(--azul-claro);
    transition: height .2s cubic-bezier(0.75, 0.885, 0.32, 1.275);
    z-index: 2;
}

.dropdown_menu.open {
    height: auto;
}

.dropdown_menu li {
    padding: 0.7rem;
}

.dropdown_menu li a {
    color: var(--branco);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu li button {
    width: 100%;
    display: flex;
    justify-content: center;
    color: var(--branco);
    background-color: var(--azul-escuro);
    padding: 0.5rem;
    border: none;
    border-radius: 6px;
}


@media screen and (max-width: 1200px) {
    #header .material-symbols-outlined {
        display: block;
    }

    #header ul, header #btns button {
        display: none;
    }

    .dropdown_menu {
        display: block;
    }
    
}